/* ---------Media Queries for Mobile Devices-------- */

/* Responsive */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .pic img{
        width: 40vw;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
        position: relative;
        z-index: 1; /* Ensures menu icon stays clickable */
    }
    #moon-icon{
        position: absolute;
        right: 60px; /* Adjust based on your design */
        z-index: 2; /* Places moon icon in front of menu icon */
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }
    .navbar a.active::before{
        width: 10%;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
        text-align: center;
    }
    .navbar a i {
        display: inline;
    }

    .home {
        flex-direction: column;
    }

    .header-text h3 {
        font-size: 2.6rem;
    }

    .header-text h1 {
        font-size: 5rem;
    }

    .pic img {
        width: 70vw;
        margin-top: 4rem;
        margin-left: 0;
    }

    .about {
        flex-direction: column-reverse;
    }
    .about-para {
        margin: 5%;
    }
    .about-content{
        padding: 0%;
    }
    .about-heading {
        font-size: 3rem;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .skill-showcase {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .skill-container {
        width: 100%;
    }
    .contact-div {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .submitbtn {
        margin: 40px auto;
    }
}


@media (max-width: 617px) {
   
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {

    .pic img,

    .about-img img {
        width: 90vw;
    }
}

@media (max-width: 344px) {

    .icon-container {
        width: 60px;
        height: 60px;
    }
    
    .icon-container img {
       width: 60px;
       height: 60px;
    }
    .tools-box {
        padding: 15px;
    }
    .tool {
       width: 35%;
    }
}